.MMM-OpenWeatherForecast {
  * {
    box-sizing: border-box;
  }

  .module-content {
    width: 320px;
  }

  .forecast-container .forecast-item .temperature,
  .forecast-container .forecast-item .temperature-container {
    color: #fff;
  }

  .temperature .low-temperature,
  .temperature-container .low-temperature {
    color: #aaa;
  }

  .wrapper.colored .temperature .high-temperature,
  .wrapper.colored .temperature-container .high-temperature {
    color: #f8dd70;
  }

  .wrapper.colored .temperature .low-temperature,
  .wrapper.colored .temperature-container .low-temperature {
    color: #6fc4f5;
  }

  .accumulation::before {
    content: " ";
  }

  .attribution {
    font-size: 10px;
    line-height: 16px;
    color: #333;
    text-align: right;
  }

  /* Current Conditions */

  .current-conditions-wrapper .current-conditions-inner {
    display: flex;
    align-items: center;
  }

  .current-conditions-wrapper .current-temps {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .current-conditions-wrapper .current.temperature {
    font-size: 42px;
    line-height: 1.2;
  }

  .current-conditions-wrapper .feels-like {
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
  }

  .current-conditions-wrapper .icon {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
  }

  .extra-current-conditions-wrapper {
    display: block;
    word-wrap: normal;
    margin: 0 -8px;
  }

  /* Inline icons */
  .inline-icon,
  .wrapper.tiled .forecast-container .forecast-item .inline-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0;
    vertical-align: bottom;
    position: relative;
  }

  /* Extra Current Conditions */

  .extra-current-conditions-wrapper > * {
    display: inline-block;
    white-space: nowrap;
    margin: 0 8px;
    margin-bottom: 10px;
  }

  /* Summary */

  .summary {
    margin: 15px 0;
  }

  /* Weather Alerts */
  .weather-alert {
    margin-bottom: 16px;
    display: block;
    width: 100%;
    border: solid 1px #222;
    padding: 8px;
    text-align: left;
    background-image: url("icons/alert-icon.svg");
    background-size: 30px 26px;
    background-repeat: no-repeat;
    background-position: 6px 10px;
  }

  .weather-alert .weather-alert-title {
    font-size: 17px;
    line-height: 1;
    margin-bottom: 4px;
    color: #dd1212;
    display: block;
    text-align: left;
    padding-left: 36px;
    font-weight: 700;
  }

  .weather-alert .weather-alert-description {
    font-size: 17px;
    line-height: 1.2;
    color: #fff;
    text-align: left;
    padding-left: 36px;

    /* truncate to no more than three lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .weather-alert .weather-alert-source {
    display: block;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    color: #999;
    padding-left: 36px;
    margin-top: 6px;
  }

  /* Compact Weather Alerts */
  .weather-alert.weather-alert-compact {
    padding: 6px 8px;
    background-size: 20px 18px;
    background-position: 6px 8px;
  }

  .weather-alert.weather-alert-compact .weather-alert-title {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 0;
    padding-left: 30px;
  }

  /* Forecast Header */

  .module-header.forecast-header {
    margin-top: 20px;
    margin-bottom: 0;
  }

  /* ------------ Forecast ------------ */

  .forecast-container.hourly + .forecast-container.daily {
    border-top: none;
  }

  /* Tiled Layout */

  .wrapper.tiled .forecast-container {
    display: flex;
    flex-flow: row wrap;
    place-content: flex-start flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    border-top: solid 1px #222;
  }

  .wrapper.with-forecast-header.tiled .forecast-container {
    border-top: none;
  }

  .wrapper.tiled .forecast-container .forecast-item {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100px;
    padding: 10px 5px;
    border-bottom: solid 1px #222;
  }

  .wrapper.tiled .forecast-container * {
    text-align: center;
  }

  .wrapper.tiled .forecast-container .forecast-item .time,
  .wrapper.tiled .forecast-container .forecast-item .forecast-icon-container,
  .wrapper.tiled .forecast-container .forecast-item .forecast-icon,
  .wrapper.tiled .forecast-container .forecast-item .temperature,
  .wrapper.tiled .forecast-container .forecast-item .temperature-container,
  .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
  .wrapper.tiled .forecast-container .forecast-item .wind-container,
  .wrapper.tiled .forecast-container .forecast-item .day-name {
    display: block;
    margin: auto;
  }

  .wrapper.tiled .forecast-container .forecast-item .forecast-icon {
    width: 70px;
    height: 70px;
    margin: 4px auto;
  }

  .wrapper.tiled .forecast-container .forecast-item .time,
  .wrapper.tiled .forecast-container .forecast-item .day-name {
    font-size: 17px;
    text-transform: uppercase;
  }

  .wrapper.tiled .forecast-container .forecast-item .wind-gusts {
    display: block;
  }

  .wrapper.tiled .forecast-container .forecast-item > * {
    font-size: 17px;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
  }

  .wrapper.tiled .forecast-container .forecast-item .temperature,
  .wrapper.tiled .forecast-container .forecast-item .temperature-container {
    font-size: 22px;
    padding: 4px 0;
  }

  /* ------------ Table Layout ------------ */

  .wrapper.table .forecast-container {
    display: table;
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
    line-height: 1;
    border-bottom: solid 1px #222;
  }

  .wrapper.table .forecast-container.daily .header-row {
    border-top: 16px solid transparent;
  }

  .wrapper.table .forecast-container.hourly + .forecast-container.daily {
    border-bottom: none;
  }

  .wrapper.table
    .forecast-container.hourly
    + .forecast-container.daily
    .forecast-item,
  .wrapper.table
    .forecast-container.hourly
    + .forecast-container.daily
    .header-row {
    border-top: none;
    border-bottom: solid 1px #222;
  }

  .wrapper.table
    .forecast-container.hourly
    + .forecast-container.daily
    .header-row {
    border-top: 16px solid transparent;
  }

  .wrapper.table .forecast-container .forecast-item,
  .wrapper.table .forecast-container .header-row {
    display: table-row;
    border-top: solid 1px #222;
  }

  .wrapper.table
    .forecast-container.hourly
    + .MMM-OpenWeatherForecast
    .wrapper.table
    .forecast-container.daily
    > .header-row:first-child {
    border-top: none;
  }

  .wrapper.with-forecast-header.table .forecast-container > div:first-child,
  .wrapper.table .forecast-container .header-row {
    border-top: none;
  }

  .wrapper.table .forecast-container .header-row .date-time-header {
    text-align: left;
    overflow: visible;
  }

  .wrapper.table .forecast-container .forecast-item > span,
  .wrapper.table .forecast-container .header-row > span {
    display: table-cell;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
  }

  .wrapper.table .forecast-container .header-row > span {
    height: 32px;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-bottom: 2px;
    width: auto;
    min-width: 50px;
  }

  .wrapper.table .forecast-container .forecast-item > span:first-child {
    text-align: left;
  }
  .wrapper.table .forecast-container .forecast-item > span:last-child {
    text-align: right;
  }

  .wrapper.table .forecast-container .forecast-item .forecast-icon {
    width: 30px;
    height: 30px;
    display: block;
    vertical-align: middle;
  }

  .wrapper.table .forecast-container .header-row .section-title {
    white-space: nowrap;
    overflow: visible;
    text-align: left;
    width: 105px;
    max-width: 105px;
    line-height: 1.5;
  }

  .wrapper.table .forecast-container .forecast-item .time,
  .wrapper.table .forecast-container .forecast-item .day-name {
    width: 105px;
  }

  .wrapper.table .forecast-container .header-row .weather-icon-header,
  .wrapper.table .forecast-container .forecast-item .forecast-icon-container {
    width: 80px;
  }

  .wrapper.table .forecast-container .header-row .temperature-header,
  .wrapper.table .forecast-container .forecast-item .temperature-container {
    width: 100px;
    white-space: nowrap;
  }

  .wrapper.table .forecast-container .forecast-item .time,
  .wrapper.table .forecast-container .forecast-item .high-temperature,
  .wrapper.table .forecast-container .forecast-item .low-temperature {
    white-space: nowrap;
  }

  .wrapper.table .forecast-container .forecast-item .wind-gusts,
  .wrapper.table .forecast-container .forecast-item .accumulation {
    display: block;
    white-space: nowrap;
  }
}
